@media only screen and (max-width: 600px) {
  body {
      background: linear-gradient(90deg, rgb(12, 12, 112), #790ae0);
      padding: 20px; 
  }

  .rolagem {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  }

  button {
      background-color:  rgb(5, 5, 46);
      color: white;
      height: 44px;
      width: 100px;
      border: none;
      border-radius: 5px;
      margin: 5px;
      font-size: large;
      z-index: 2;
  }

  button:hover {
      border: 2px solid white;
      background-color:  rgb(5, 5, 46);
  }

  .role {
      border: 2px solid white;
      background-color: rgb(5, 5, 46);
      color: white;
      position:relative;
      left: 100px;
      align-items: center;
      text-align: center;
      font-size: 32px;
      height: 45px;
      width: 200px;
      margin-bottom: 20px;
  }

  .resultado {
      border: 2px solid rgb(255, 255, 255);
      background-color: rgb(5, 5, 46);
      color: white;
      width: 200px;
      height: 200px;
      line-height: 200px;
      font-size: 50px;
      text-align: center;
      margin-bottom: 20px;
      z-index: 12;
  }
}

@media only screen and (min-width: 601px) {
  body {
      background:linear-gradient(90deg, rgb(12, 12, 112), #790ae0);
      padding: 20px; 
  }

  .rolagem {
      display: flex;
      justify-content: space-around; 
      margin-bottom: 20px;
  }

  button {
      background-color: rgb(5, 5, 46);
      color: white;
      position:relative;
      left: 6%;
      height: 44px;
      width: 100px;
      border: none;
      border-radius: 20px;
      margin: 5px;
      font-size: large;
  }

  button:hover {
      border: 2px solid white;
      background-color: rgb(5, 5, 46);
  }

  .role {
      border: 2px solid white;
      border-radius: 10px;
      background-color: rgb(5, 5, 46);
      color: white;
      position: relative;
      text-align: center;
      left: 40%;
      top: -20px;
      height: 45px;
      width: 200px;
      margin-bottom: 20px;
  }

  .resultado {
      border: 2px solid rgb(252, 252, 252);
      background-color: rgb(5, 5, 46);
      color: white;
      position: absolute;
      top: 55%;
      left: 40%;
      width: 200px;
      height: 200px;
      line-height: 200px;
      font-size: 50px;
      text-align: center;
      margin-bottom: 20px;
  }
}

